/* reset styles */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
       
}
/* main style for the document */
body{
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
/* βελος με το πατημα του οποιου ο χρηστης θα γυρνα στην κορυφη της σελιδας */
.backToTop a{
    color: rgb(226, 137, 43);
    position: fixed;
    z-index: 10;
    width: 56px;
    height: 56px;
    font-size: 24px;
    right: 24px;
    bottom: 80px;
    transition: all.3s ease;
    cursor: pointer;}
/* navbar */
#navbar{
    width: 100vw;
    display: flex;
    align-items: stretch;
}
/* διαμορφωνει το container  */
.container{
    flex-grow: 8;

 }
 /* διαμορφωνει ολοκληρη την λιστα του container */
.container ul{
    display: flex;
    justify-content: end;
    margin-top: 6px;
 
}
 /* διαμορφωνει τα li*/
.container ul li{
    list-style: none;
    padding: 10px;
    
}
/* διαμορφωνει τα a που βρισκονται μεσα στην λιστα li */
.container ul li a{
    text-decoration: none;
    color: black;
   
    
}
/* κεντρικη εικονα */
#main-image img{
    width: 100%;
    height: 500px;
}
/* κειμενο πανω  στην εικονα */
#text{
    position: absolute;
    left: 10px;
    top: 200px;
    background-color: bisque;
    z-index: 5;
}
/* 3 εικονες που παραπεμπουν σε αλλες σελιδες */
#option-images{
    display: flex;


}
.small-image{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.small-image img{
    width: 80%;
    height: 100px;
    margin-left: 10%;
 
}
.image-text{
    background-color: #e6ecf2;
    width: 80%;
    margin-left: 10%;
    height: 130px;

}
/* istorikh anafora ston ritso */
.Hint{
    height: 40%;
    width: 100%;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;

}

/* μπαρα με ενημερωτικα στοιχεια */
#information-bar{
    display: flex;
    background-color: blueviolet;
    height: 200px;
    margin-top:50px ;
}
/* διαμορφωνει το div map */
#map{
    height: 200px;
    width: 30%;
}
/* διαμορφωνει το την εικονα του χαρτη */
#map img{
    height: 200px;
    width: 200px;
}
/* διαμορφωνει το div time */
#time {
    width: 30%;
    height: 200px;
}
/* διαμορφωνει το div weather */
#weather{
    width: 30%;
    height: 200px;
}
/* φωυογραφιες απο χρηστες και social της σελιδας */
#social-media-photos{
    display: flex;
}
#photos {
    width: 80%;
    height: 300px;
    background-color: forestgreen;
}
#sendUs{
    width: 20%;
    height: 300px;
    background-color: bisque;

}
#social ul{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-top: 20px;
}
#social ul li {
    margin: 10px;
    font-size: xx-large;
}
   
/* footer */
footer{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
}
#copyright{
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
}
#aboutUs{
    display: flex;
    height: 80%;
    width: 100%;
    
}
#informations{
    height: 100%;
    width: 33%;
    margin-left: 20px;
    margin-top: 20px;
}

#logo-footer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
    justify-content: center;
    align-items: center;
}
#media{
    display: flex;
    align-items: center;
    flex-direction: column;
}

 #media ul{
    display: flex;
    list-style: none;

 }
 #media ul li{
    margin: 10px;
    font-size: xx-large;
    
 }


#contact{
    height: 100%;
    width: 33%;
    margin-top: 20px;
    margin-left: 20px;
}
#contact ul{
    list-style: none;
}

#informations ul{
    list-style: none;
}
#informations a{
    text-decoration: none;
}



















